parameters:
	level: 8
	paths:
		- src/
	bootstrapFiles:
		- tests/bootstrap.php
	ignoreErrors:
		- identifier: missingType.iterableValue
		- identifier: missingType.generics
		- '#Constructor of class .+SessionStorage has an unused parameter \$response#'
		- '#PHPDoc tag @mixin contains invalid type .+InstanceConfigTrait.#'
