parameters:
	level: 8
	paths:
		- src/
	bootstrapFiles:
		- tests/bootstrap.php
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		- '#Constructor of class .+SessionStorage has an unused parameter \$response#'
		- '#PHPDoc tag @mixin contains invalid type .+InstanceConfigTrait.#'
